{% extends "navbar.html" %} {% block head %} {{ super() }}

<link 
    rel="stylesheet" 
    href="{{ url_for('static', filename='home.css') }}" 
/>
<link
  href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Libre+Baskerville&family=Playfair+Display:ital@0;1&display=swap"
  rel="stylesheet"
/>

{% endblock %}

{% block content %}

<div id="para">Plan your Schedule</div>
<table class="table">
  <tr>
    <th>#</th>
    <th>Task Name</th>
    <th>Status</th>
  </tr>
</table>

{% endblock %}
